.config.log
Makefile
config.cflags
config.h
config.ldflags
doc/*.html
makefile.opts
mp-5
mp-5.1
po/*.mo
po/minimum-profit.pot
*.[oa]
*.moc
mp.tar
mp.zip
.build.sh
mpdm-stress
mpsl-stress
lex.yy.c
y.tab.c
y.tab.h
